/**
 * ClearFix
 */

.clearfix {
	overflow: hidden;
}

.content {
	@extend .clearfix;
}

.comment {
	@extend .clearfix;
}

/**
 * A very dry media object
 */

.media {
	overflow: hidden;
	> div:first-child {
		float: left;
	}
}

div.foo {
	@extend .media;
}

div.bar {
	@extend .media;
}

div.baz {
	@extend .media;
}

/**
 * @content example
 */

@mixin media {
	overflow: hidden;
	> div:first-child {
		float: left;
		@content
	}
}

.comment {
	@include media {
		width: 100px;
	}
}

/**
 * @content with a nested media query mixin
 */

@mixin respond($min-width) {
	@media screen and (min-width: $min-width) {
		@content;
	}	
}

aside {
	color: red;
	@include respond(300px) {
		color: green;
	}
}