/**
 * ClearFix
 */
.clearfix, .content, .comment {
  overflow: hidden; }

/**
 * A very dry media object
 */
.media, div.foo, div.bar, div.baz {
  overflow: hidden; }
  .media > div:first-child, div.foo > div:first-child, div.bar > div:first-child, div.baz > div:first-child {
    float: left; }

/**
 * @content example
 */
.comment {
  overflow: hidden; }
  .comment > div:first-child {
    float: left;
    width: 100px; }

/**
 * @content with a nested media query mixin
 */
aside {
  color: red; }
  @media screen and (min-width: 300px) {
    aside {
      color: green; } }
