/**
 * Less without Sass' extend
 */
.clearfix {
	overflow: hidden;
}

.content { .clearfix; }
.comment { .clearfix; }


/**
 * Namespaces
 */
#namespace1 {
	.mixin-one { color: red; }
}
#namespace2 {
	.mixin-one { color: blue; }
}

.some-class {
	#namespace1 > .mixin-one
}


/**
 * @content with a nested media query mixin
 */

.respond(@min-width) {
	@media screen and (min-width: @min-width) {
		color: green;
	}	
}

aside {
	color: red;
	.respond(300px);
}