/**
 * Less without Sass' extend
 */
.clearfix {
  overflow: hidden;
}
.content {
  overflow: hidden;
}
.comment {
  overflow: hidden;
}
/**
 * Namespaces
 */
#namespace1 .mixin-one {
  color: red;
}
#namespace2 .mixin-one {
  color: blue;
}
.some-class {
  color: red;
}
